footer {
	background:#222;
	h3{
		color: white;
	}
}

#footer-sidebar {
	display:block;
	color: white;
	padding: 5%;
}

#footer-sidebar1 {
	float: left;
	width: 24%;
	margin-left:5px;
	margin-right:5px;
}

#footer-sidebar2 {
	float: left;
	width: 24%;
	margin-right:5px;
}

#footer-sidebar3 {
	float: left;
	width: 50%;
	p{
		float: left;
	}
}

.contactField {
	width: 100%;
}