// Portfolio Images and FIGURES

.postInfo {
	width: 50%;
	display: inline-block;
}

.post {
	width: 100%;
}

div.images {
	width: 50%;
	margin: 0;
	text-align: center;
}

figure.image {
	width: 40%;
	display: inline-block;
	float: left;
}

.gallery{
	float: left;
	width: 50%;
}

#spotlightImage {
	width: 100%;
	max-width: 600px;
	max-height: 400px;
}

.portfolioPostContent {
	width: 40%;
	padding: 0 2.5%;
	float: left;
}