$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: rgba(255,255,255,0);
$color__background-pre: #eee;
$color__background-ins: #fff9c0;


$color__primary: #222;

$color__primary-darker: #111;

$color__input-bg: $color__primary-darker;

$color__text-screen: #21759b;
$color__text-input: rgba(255,255,255,0.75);
$color__text-input-focus: #fff;
$color__link: #444;
$color__link-visited: $color__link;
$color__link-hover: #EC1D25;
$color__text-main: #333;

$color__border-button: #ddd;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #444;
$color__border-abbr: #666;
