button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	font-family: "Lato", "Helvetica", "sans serif";
	letter-spacing: 0.3em;
	font-weight: 400;
	text-transform: uppercase;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(255,255,255,0.9);
	transition: all 0.2s;
	@include font-size(0.75);
	line-height: 1;
	padding: 0.8em 1.6em;
	&:hover {
		color: $color__primary;
		background: #fff;
	}
	&:active,
	&:focus {
		color: $color__primary;
		background: #fff;
	}
}

input[type="submit"].wpcf7-submit {
	float: left;
}

