#nav-below {
	width: 100%;
	margin: 50px 0;
}
.nav-previous{
	float: left;
}
.nav-next{
	float: left;
}

p.nav-previous,
p.nav-next{
	line-height: 1;
	margin: 0;
	padding: 10px 30px;
	font-family: "Lato";
	text-transform: uppercase;
	font-size: 1.7em;
	background:#ccc;
	text-align: center;
	transition: all 0.3s;
	color: #fff;
	&:hover{
		background-color: $color__primary;
		a{

		}
	}
	a {
		color: #fff;
	}
	span {
		display: block;
	}
	span.arrow {
		font-family: "Lato", "Sans serif";
		font-style: normal;
		color: #fff;
		font-size: 2em;
	}
	span.navTitle {
		line-height: 1;
	}

}