h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
	font-size: 1.75em;
	font-weight: 400;
}

h1, h2 {
	text-transform: uppercase;
	font-family: "Lato";
	letter-spacing: 0.055em;
}

h2 {
	font-size: 3em;
	font-weight: 700;
	margin-bottom: 5px;
}

h3 {
	font-family: "Playfair Display";
	font-style: italic;
	font-weight: 400;
}

h6 {
	font-size: 1em;
	margin: 0;
	line-height: 1;
}


