html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

// MAIN ELEMENTS

.wrapper{
	background: $color__background-body;
	padding-bottom: 60px;
	margin: 0;
}
.main {
	margin: 0 auto;
	margin-top: 200px;
	padding-top: 20px;
	@include pageWidth;
	z-index: 1;
	// background-color: $color__background-body;
}

.hider {
	opacity: 0 !important;
}






@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";

@import "flexbox";

@import "iframe";



// FIGURES

div.images {
	width: 50%;
	margin: 0;
	text-align: center;
}


// FIGURES

figure.image {
	width: 40%;
	display: inline-block;
	float: left;
}
