
body .timeline-header,
body .timeline-footer {
	background-color: transparent;
}
body .timeline-header {
	border-radius: 3px 3px 0 0;
}
body .timeline-footer {
	border-radius: 0 0 3px 3px;
}
html .timeline-header .summary, html .timeline-header .summary a:link, html .timeline-header .summary a:visited, html .p-author a.profile:hover {
	color: #00b200;
}

h2.byline {
	display: none; /* Totdat de description van de lijst op twitter.com aanpasbaar is. */
	color: #fff;
}
body .timeline .timeline-header h2.byline a:link,
body .timeline .timeline-header h2.byline a:hover,
body .timeline .timeline-header h2.byline a:active,
body .timeline .timeline-header h2.byline a:visited {
	color: #fff;
}

body .timeline {
	background-color: transparent;
}


body .timeline a:link,
body .timeline a:visited {
	color: #00b200;
	text-decoration: none;
}

aside.tl_twitter-2 {
	background:red;
}

body .timeline a:active,
body .timeline a:hover {
	color: #00b200;
	text-decoration: underline;
}


/* Twitter widget with styling */

.timeline-header,
.timeline-footer {
	background-color: #8ba0aa;
}

#twitter-widget-0 .stream {
	background-color: #9fb9c5;
	color: #fff;
}
#twitter-widget-0 .stream a:link,
#twitter-widget-0 .stream a:visited,
#twitter-widget-0 .stream a:hover,
#twitter-widget-0 .stream a:active {
	color: #333333;
}
#twitter-widget-0 .customisable-border {
	border-style: dotted;
}
#twitter-widget-0 h1.summary {
	margin: 0;
}
#twitter-widget-0 .var-narrow .tweet {
	padding: 0;
}
