ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

// TAXONOMY LISTS AND LIST ITEMS
ul.taxonomyList {
	list-style: none;
	text-align: center;
	li{
		padding: 15px 0;
	}
	span {
		display: block;
	}
	// TAXONOMY IMAGES

	img {
		width: 80px;
	}

	a {
		transition: all 0.25s;
		filter:  grayscale(1) brightness(5);
		&:hover {
			// transform: scale(1.25);
			filter:  grayscale(0) brightness(1);
			color: #332222;
		}
	}
}